:root{
    --color-1: #fff;
    --color-2: #222;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--color-1);
    color: var(--color-2);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    width: 100%;
    color: darkgrey;
    background-color: black;
    padding: 10px;
}

/* PARA CARGA DE SLIDER */

.slider-container img {
    width: 100%; /* Asegurar que las imágenes se ajusten al tamaño del slider */
  }
  /* Solo para simular que el slider no está visible al cargar la página */
  body {
    margin: 0;
    padding: 0;
  }
  .spacer {
    height: 100vh; /* Espacio antes del slider */
  }

/* CLASS */

.swiffy-slider{
    width: 100%;
    align-items: center;
}
.swiffy-slider img{
    width: 100%;
}




/* IDs */

#portada{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: 700px;
}
#Logo-Evil{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0; /*Inicialmente, la imagen estará transparente*/
    animation-delay: 2s; /* Delay de 2 segundos antes de iniciar la animación de fade-in */
    animation: fadeIn 3s ease-out 2s forwards, blink 100ms 5s 3 forwards; /* Aplicamos la animación de fade-in y parpadeo */
}

/* Animación de fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animación de parpadeo */
@keyframes blink {
    0%, 49%, 100% {
        opacity: 1;
    }
    50%, 99% {
        opacity: 0;
    }
}

#Logo-Evil img{
    width: 90%;
}
#presentacion{
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 250px;
}
#ISN{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-bottom: 200px;
}
#Participan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    color: var(--color-1);
    background-color: rgb(46, 46, 46);
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;

}
.que-coctel{
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    margin-top: 200px;
    margin-bottom:200px;
}

/* DIVS INGREDIENTES */

#hielo{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}
#hielo img{
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
}
#texto-hielo{
    grid-column: 2 / 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: black;
}
#foto-vaso-hielo{
    grid-column: 5 / 10;
    position: absolute;
    top: 10%;
    text-align: center;
    z-index: 1;

}


#vodka{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}
#vodka img{
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
}
#texto-botella-skyy{
    grid-column: 4 / 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: rgb(255, 255, 255);
}
#foto-botella-skyy{
    grid-column: 2 / 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;

}
#blue-curacao{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}
#blue-curacao img{
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
}
#texto-botella-blue{
    grid-column: 1 / 7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: rgb(255, 255, 255);
}
#foto-botella-blue{
    grid-column: 6 / 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
#limon{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}
#limon img{
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
}
#texto-limon{
    grid-column: 1 / 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: rgb(255, 255, 255);
}
#granadina{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}
#granadina img{
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
}
#texto-botella-granadina{
    grid-column: 4 / 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: rgb(255, 255, 255);
}
#foto-botella-granadina{
    grid-column: 2 / 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;

}
#sirope{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}
#sirope img{
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
}
#texto-sirope{
    grid-column: 1 / 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: rgb(255, 255, 255);
}

#angostura{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}
#angostura img{
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
}
#texto-botella-ango{
    grid-column: 1 / 8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    color: rgb(0, 0, 0);
}
#foto-botella-ango{
    grid-column: 5 / 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    text-align: center;
    z-index: 1;
}
#debugging-drink{
    width: 100%;
}

#debugging-drink img{
    width: 100%;
}

#texto-deb{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
}
#debugging-drink{
    width: 100%;
    display: grid;
    position: relative;
}
#imagen-deb{
    grid-area: 1 / 1;
}
#texto-deb{
    grid-column: 1 / 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
}


/* PANTALLAS GRANDES */

@media (min-width: 992px){

}
